.pageWrapper {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fdfdfd;
}

.heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #222;
}

.categoryFilter {
  text-align: center;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.categoryButton {
  background-color: #eee;
  border: none;
  border-radius: 8px;
  padding: 8px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.categoryButton:hover {
  background-color: #ddd;
}

.activeCategory {
  background-color: #ffb703;
  color: white;
  font-weight: bold;
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
}

.bookGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  padding: 1rem 0;
}

.loadingText,
.errorText {
  text-align: center;
  font-size: 1.2rem;
  color: #777;
  margin: 2rem 0;
}

.pagination {
  margin-top: 2rem;
  text-align: center;
}

.paginationButton {
  background-color: white;
  border: 1px solid #ccc;
  padding: 8px 14px;
  margin: 0 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s;
}

.paginationButton:hover {
  background-color: #eee;
}

.activePage {
  background-color: #023047;
  color: white;
  border: 1px solid #023047;
}